name: Autodeploy to Sandbox Server

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

env:
  REGISTRY: docker.io

jobs:
  restart-docker-compose:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            set -e

            APP_PATH="/home/fishx"
            cd "$APP_PATH"

            docker pull asuzas/fishx4-frontend

            docker compose up -d

            docker image prune -f || true

